<a href="https://colab.research.google.com/github/SanjaySivaraman/COVID-19-Data-scraping/blob/master/NEWSBOT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests as r
import re
from bs4 import BeautifulSoup as soup
import time
import pandas as pd
database=[]
preurl='sampleurl'

In [2]:
def scrape(url,sname):
  StateName=sname
  LINK=[]
  LINK.append(url)
  regex = re.compile('.*content-body-.*')
  CC=[regex]
  fdata=[]
  data=r.get(LINK[0])
  page_data=soup(data.text,'html.parser')
  Sectional=page_data.find('a',{'class':'section-name'}).text
  Header=page_data.find('h1',{'class':'title'}).text
  dp=page_data.find('div',{'class':'ut-container'})
  pad=dp.find_all('span',{'class':'blue-color ksl-time-stamp'})
  if(len(pad)==2): 
    Place=pad[0].text
    Place = Place.replace(',', '')
    Date=pad[1].text
  elif(len(pad)==1):
    Place='India'
    Date=pad[0].text
  Content=page_data.find('div',{'id':CC[0]}).text
  column=[StateName,Date,Sectional,Place,Header,Content]
  news=[]
  for line in column:
    news.append(line.strip().split('\n'))
  for k in range(0,len(news)):
    temp=news[k][0]
    fdata.append(temp)
  database.append(fdata)

In [3]:
#TAMILNADU
def state():
  statenamelist=['andhra-pradesh','karnataka','kerala','tamil-nadu','telangana','other-states']
  for statename in statenamelist:
    url='https://www.thehindu.com/news/national/'+ statename +'/'
    print(url)
    data=r.get(url)
    page_data=soup(data.text,'html.parser')
    jis=page_data.find('div',{'class':'justIn-story'})
    jis1=jis.find('a')
    jisurl=jis1.get('href')
    jist=jis1.text
    jist=jist.replace('\n', ' ')
    jist=jist.upper()
    jist=jist.strip().split(' ')
    #print("URL is "+ jisurl+'\n')
    #print("List of text:")
    print(jist)
    keywords=['COVID-19','CORONAVIRUS','QUARANTINE','LOCKDOWN','CORONA']
    flag=0
    for i in jist:
      for j in keywords:
        if(i==j and flag==0):
          flag=1
          try:
            scrape(jisurl,statename)
          except:
            print('ERROR\n')
    if(flag==0):
      print('Not a COVID-19 News')

In [4]:
call=0
while(call<1):
  call=call+1
  print("Call no.") 
  print(call)
  state()
  time.sleep(0)
df=pd.DataFrame(database)
print(df)

Call no.
1
https://www.thehindu.com/news/national/andhra-pradesh/
['42MINS', '', 'FACEBOOK,', 'TWITTER', 'PULL', 'TRUMP', 'POSTS', 'OVER', 'CORONAVIRUS', 'MISINFORMATION']
https://www.thehindu.com/news/national/karnataka/
['6MINS', '', 'CHINA-BACKED', 'ATTEMPT', 'BY', 'PAK', 'TO', 'RAISE', 'KASHMIR', 'ISSUE', 'AT', 'UNSC', 'FAILS', 'YET', 'AGAIN:', 'INDIAN', 'DIPLOMAT']
Not a COVID-19 News
https://www.thehindu.com/news/national/kerala/
['41MINS', '', 'FACEBOOK,', 'TWITTER', 'PULL', 'TRUMP', 'POSTS', 'OVER', 'CORONAVIRUS', 'MISINFORMATION']
https://www.thehindu.com/news/national/tamil-nadu/
['6MINS', '', 'CHINA-BACKED', 'ATTEMPT', 'BY', 'PAK', 'TO', 'RAISE', 'KASHMIR', 'ISSUE', 'AT', 'UNSC', 'FAILS', 'YET', 'AGAIN:', 'INDIAN', 'DIPLOMAT']
Not a COVID-19 News
https://www.thehindu.com/news/national/telangana/
['23MINS', '', 'WORLD', 'BANK', 'SAYS', 'READY', 'TO', 'MOBILISE', 'FINANCING', 'FOR', 'LEBANON', 'BLAST', 'RECOVERY']
Not a COVID-19 News
https://www.thehindu.com/news/national/other-states/
['2MINS', '', 'CHINA-BACKED', 'ATTEMPT', 'BY', 'PAK', 'TO', 'RAISE', 'KASHMIR', 'ISSUE', 'AT', 'UNSC', 'FAILS', 'YET', 'AGAIN:', 'INDIAN', 'DIPLOMAT']
Not a COVID-19 News
                0  ...                                                  5
0  andhra-pradesh  ...  Facebook Inc on Wednesday took down a post by ...
1          kerala  ...  Facebook Inc on Wednesday took down a post by ...

[2 rows x 6 columns]

In [5]:
df

                0  ...                                                  5
0  andhra-pradesh  ...  Facebook Inc on Wednesday took down a post by ...
1          kerala  ...  Facebook Inc on Wednesday took down a post by ...

[2 rows x 6 columns]